In [19]:
import pandas as pd
import numpy as np

In [20]:
url = 'https://raw.githubusercontent.com/DuvanLope/Trabajo-Final/refs/heads/main/llegada_pasajeros_mensual_por_aeropuerto_de_origen_nacional.csv'
df = pd.read_csv(url)
df.head(500)

,lle_codigo,lle_indicador,lle_llegadanal,lle_periodo,lle_valor
0,13001,LLEGADA_PAX_NACIONAL,CARTAGENA,202209,49243
1,17001,LLEGADA_PAX_NACIONAL,MANIZALES,202209,2220
2,5873,LLEGADA_PAX_NACIONAL,VIGIA DEL FUERTE,202209,125
3,15189,LLEGADA_PAX_NACIONAL,CIENAGA,202209,7
4,27077,LLEGADA_PAX_NACIONAL,BAJO BAUDO,202209,121
...,...,...,...,...,...
495,5147,LLEGADA_PAX_NACIONAL,CAREPA,201409,8477
496,5250,LLEGADA_PAX_NACIONAL,EL BAGRE,201409,335
497,44847,LLEGADA_PAX_NACIONAL,URIBIA,201409,8
498,5847,LLEGADA_PAX_NACIONAL,URRAO,201409,0
499,52001,LLEGADA_PAX_NACIONAL,PASTO,201409,514

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13010 entries, 0 to 13009
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lle_codigo      13010 non-null  int64
 1   lle_indicador   13010 non-null  object
 2   lle_llegadanal  13010 non-null  object
 3   lle_periodo     13010 non-null  int64
 4   lle_valor       13010 non-null  int64
dtypes: int64(3), object(2)
memory usage: 508.3+ KB

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
lle_codigo,13010.0,38968.375173,29136.692175,5001.0,13001.0,27077.0,68669.00,99624.0
lle_periodo,13010.0,201369.108762,479.195824,200701.0,200909.0,201309.0,201804.00,202302.0
lle_valor,13010.0,3425.322675,14228.591773,-1.0,0.0,70.0,895.75,182836.0

In [23]:
df.isnull().sum()

lle_codigo        0
lle_indicador     0
lle_llegadanal    0
lle_periodo       0
lle_valor         0
dtype: int64

In [24]:
print("Duplicados antes:", df.duplicated().sum())

df = df.drop_duplicates()


print("Duplicados después:", df.duplicated().sum())

Duplicados antes: 4
Duplicados después: 0

In [25]:
df.to_csv('llegada_pasajeros_mensual_por_aeropuerto_de_origen_nacional_limpio.csv', index=False)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13006 entries, 0 to 13009
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lle_codigo      13006 non-null  int64
 1   lle_indicador   13006 non-null  object
 2   lle_llegadanal  13006 non-null  object
 3   lle_periodo     13006 non-null  int64
 4   lle_valor       13006 non-null  int64
dtypes: int64(3), object(2)
memory usage: 609.7+ KB

In [27]:
print("Duplicados antes:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicados después:", df.duplicated().sum())

Duplicados antes: 0
Duplicados después: 0

In [28]:
print(df.shape)

(13006, 5)

In [29]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
lle_codigo,13006.0,38967.333000,29133.911427,5001.0,13001.0,27077.0,68669.00,99624.0
lle_periodo,13006.0,201368.880594,479.092813,200701.0,200909.0,201309.0,201804.00,202302.0
lle_valor,13006.0,3426.296017,14230.670361,-1.0,0.0,70.0,896.75,182836.0

In [30]:
df.describe(include="object").T

                count unique                   top   freq
lle_indicador   13006      1  LLEGADA_PAX_NACIONAL  13006
lle_llegadanal  13006    178                ACANDI    200

In [31]:
print(df['lle_llegadanal'].value_counts())

lle_llegadanal
ACANDI            200
EL YOPAL          196
ARMENIA           194
BARRANQUILLA      194
IBAGUE            194
                 ...
BUGA                1
VILLA GARZON        1
TARAPACA            1
MALAMBO             1
OBANDO - VALLE      1
Name: count, Length: 178, dtype: int64

In [32]:
print(df['lle_valor'].value_counts())

lle_valor
 0        3395
 2         289
-1         279
 4         235
 1         187
          ...
 41322       1
 1504        1
 2206        1
 1929        1
 6198        1
Name: count, Length: 3650, dtype: int64

In [34]:
df.info()
df.rename(columns={"lle_codigo": "Codigo_Aeropuerto_Origen","lle_indicador":"Indicador", "lle_llegadanal":"Llegada_Nacional", "lle_periodo":"Periodo","lle_valor":"Valor"},inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 13006 entries, 0 to 13009
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Codigo_Aeropuerto_Origen  13006 non-null  int64
 1   Indicador                 13006 non-null  object
 2   Llegada_Nacional          13006 non-null  object
 3   Periodo                   13006 non-null  int64
 4   Valor                     13006 non-null  int64
dtypes: int64(3), object(2)
memory usage: 609.7+ KB

In [35]:
df['Codigo_Aeropuerto_Origen'].unique()

array([13001, 17001,  5873, 15189, 27077,  8001, 73001, 76147, 85010,
       85001, 23001,  5147, 20770,  5579, 47001,  5847, 68001,  5059,
       13688, 11001, 85250, 54001, 52001, 66001, 50350, 25175,  5154,
       27001,  5250, 68077, 20060,  5647, 41001, 44001, 20001, 47058,
       76001, 23466, 27006,  5490, 68081, 50001, 20011, 15516, 70823,
       27075, 70717,  5604, 27495, 91001, 70215, 97001, 13468, 19001,
       27205, 50573, 73443, 81020, 81001,  5001, 76109,  5615, 19418,
       47245, 18001, 68679, 70708, 27372, 70713,  5031, 50680, 23068,
       76563, 52835, 99524, 17524, 23570, 23807, 95001, 18756, 68861,
       13430, 17873, 88001,  5172, 44090, 47980,  5120, 54498,  5585,
       44847, 99001, 68669, 73449,  8141, 76834, 73547, 25530, 73275,
       73168, 19809, 19142, 19318,  5591, 76622, 15272, 68190, 86568,
       52565, 94001, 13442, 23417, 81794,  5284, 73408, 25438, 20295,
       50568, 15690, 91407, 44430, 70221, 18753, 85230, 73026, 25572,
       52022,  5475,  5361, 97666, 20250, 76126, 86573, 23189, 41298,
        5045,  5480, 44560,  5837, 20400,  5313, 47318, 85325, 63470,
       85225, 41551, 73268, 81736, 94888, 17614, 17665,  5051, 41132,
       20013, 44078, 47555, 85139, 15572, 99624, 19698, 73671, 47707,
       68432, 97511, 19455, 76111, 86885, 91798,  8433, 76497])

In [36]:
df.columns = df.columns.str.lower()

In [37]:
df.columns = df.columns.str.replace(" ", "_")