In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/DuvanLope/Trabajo-Final/refs/heads/main/llegada_pasajeros_mensual_por_aeropuerto_de_origen_nacional.csv'
df = pd.read_csv(url)
df.head(10)

   lle_codigo         lle_indicador    lle_llegadanal  lle_periodo  lle_valor
0       13001  LLEGADA_PAX_NACIONAL         CARTAGENA       202209      49243
1       17001  LLEGADA_PAX_NACIONAL         MANIZALES       202209       2220
2        5873  LLEGADA_PAX_NACIONAL  VIGIA DEL FUERTE       202209        125
3       15189  LLEGADA_PAX_NACIONAL           CIENAGA       202209          7
4       27077  LLEGADA_PAX_NACIONAL        BAJO BAUDO       202209        121
5        8001  LLEGADA_PAX_NACIONAL      BARRANQUILLA       202209      18711
6       73001  LLEGADA_PAX_NACIONAL            IBAGUE       202209       1560
7       76147  LLEGADA_PAX_NACIONAL           CARTAGO       202209        110
8       85010  LLEGADA_PAX_NACIONAL           AGUAZUL       202209         23
9       85001  LLEGADA_PAX_NACIONAL          EL YOPAL       202209          2